extends ../layout.pug
block content
  each photo in photos
    article
      img(src=photo.smUrl, srcset=`${photo.smUrl} 512w, ${photo.mdUrl} 1024w, ${photo.lgUrl} 2048w`, sizes="(max-width:500px) 100vw, (max-width:1000px) 100vw,")

      form(action="/heart" method="POST")
        input(type="hidden", name="userId" value=user.id)
        input(type="hidden", name="photoId" value=photo.id)
        input.bg-white.f6.link.dim.ba.ph3.pv2.mb2.dib.black.mr2(type="submit" value="♡")
        if photo.hearts == 1
          ='1 ♡'
        if photo.hearts > 1
          =photo.hearts 
          ='♡s'
      ul.pl0
        each comment in photo.comments
          li
            strong
              = comment.user.name
            span : 
            = comment.comment
      form(action="/comment" method="POST")
        input(type="hidden", name="userId" value=user.id)
        input(type="hidden", name="photoId" value=photo.id)
        textarea(name="comment", cols="30", rows="4")
        div
          input.bg-white.f6.link.dim.ba.ph3.pv2.mb2.dib.black.mr2(type="submit", value="Comment")
        div
          unless photo.hideHeartButton == 'true'

      if user.admin == true
        form(action=`/photos/${photo.id}?_method=DELETE` method="POST")
          input.bg-white.f6.link.dim.ba.ph3.pv2.mb2.dib.black.mr2(type="submit", value="🗑️")
    hr
